<div class="footer_card site_card">
	<p>Hi, I am Vijayabharathi, a software quality assurance and test automation lead for enterprise IT organizations. I am also
		a web developer with a
		<a href="https://www.freecodecamp.com/vijayabharathib/front-end-certification">front-end developer certification from freecodecamp</a>. You should follow me on twitter
		<a href="https://twitter.com/vijayabharathib">here</a>. Thanks for lending a space on your timeline, I respect that.</p>
</div>

<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup" class="footer_card">
	<form action="//pineboat.us16.list-manage.com/subscribe/post?u=cd414b039e45006e4347c019b&amp;id=8e1f857ac5" method="post"
	 id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
		<div id="mc_embed_signup_scroll">
			<h2>Newsletter</h2>
			<div class="mc-field-group">
				<label for="mce-EMAIL">Email Address
					<span class="asterisk">*</span>
				</label>
				<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
			</div>
			<div class="clear">
				<input type="submit" value="Stay Informed" name="subscribe" id="mc-embedded-subscribe" class="button">
			</div>
		</div>
		<p class="mc_referral">Powered by
			<a href="http://eepurl.com/cYx2Sj" title="MailChimp - email marketing made easy and fun">MailChimp</a>
		</p>
		<div id="mce-responses" class="clear">
			<div class="response" id="mce-error-response" style="display:none"></div>
			<div class="response" id="mce-success-response" style="display:none"></div>
		</div>
		<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
		<div style="position: absolute; left: -5000px;" aria-hidden="true">
			<input type="text" name="b_cd414b039e45006e4347c019b_8e1f857ac5" tabindex="-1" value="">
		</div>

	</form>
</div>

<!--End mc_embed_signup-->
<div class="footer_card site_card">
	<h2>Privacy note</h2>
	<p>In case you don't fully understand GDPR, you are in the right place. I dont understand it either. So, I totally removed
		any visitor tracking scripts, such as
		<strong>Google Analytics</strong>.
		<a href="/page/privacy_policy">Privacy page</a> is updated with more details.</p>
</div>